Training/ClimasService/Connected Services/LatWS/LatitudeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64727/LatitudeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LatitudesService" />
  <xs:element name="obtenerCoordenadas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCoordenadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LatitudesService" minOccurs="0" name="obtenerCoordenadasResult" nillable="true" type="q1:LatitudeService.Coordenadas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>