Booking Web Site/BookingMVC/Booking.Business/Connected Services/ReniecService/ReniecService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:83/ReniecService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFReniec.Dominio" />
  <xs:element name="EsDniValido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsDniValidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsDniValidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersonaPorDni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersonaPorDniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFReniec.Dominio" minOccurs="0" name="ObtenerPersonaPorDniResult" nillable="true" type="q1:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>