Member Service/Member.All/WFCMemberUnitTests/Connected Services/MiembrosWS/MiembrosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25703/MiembrosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" />
  <xs:element name="ObtenerMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMiembroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" minOccurs="0" name="ObtenerMiembroResult" nillable="true" type="q1:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" minOccurs="0" name="miembro" nillable="true" type="q2:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMiembroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" minOccurs="0" name="CrearMiembroResult" nillable="true" type="q3:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" minOccurs="0" name="miembro" nillable="true" type="q4:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMiembroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" minOccurs="0" name="ModificarMiembroResult" nillable="true" type="q5:Miembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMiembro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMiembroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMiembros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMiembrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFMember.Dominio" minOccurs="0" name="ListarMiembrosResult" nillable="true" type="q6:ArrayOfMiembro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>