Room Service/RoomServiceTests/Connected Services/HabitacionesWS/HabitacionesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HabitacionesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61476/HabitacionesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61476/HabitacionesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61476/HabitacionesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomService.Dominio" />
      <xsd:import schemaLocation="http://localhost:61476/HabitacionesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RoomService.Errores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHabitacionesService_ObtenerHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHabitacion" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ObtenerHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ObtenerPorHotelYNumeroHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorHotelYNumeroHabitacion" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ObtenerPorHotelYNumeroHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorHotelYNumeroHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_CrearHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearHabitacion" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_CrearHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_CrearHabitacion_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/RoomService.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ModificarHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarHabitacion" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ModificarHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_EliminarHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarHabitacion" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_EliminarHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ListarHabitaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitaciones" />
  </wsdl:message>
  <wsdl:message name="IHabitacionesService_ListarHabitaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IHabitacionesService">
    <wsdl:operation name="ObtenerHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitacionesService/ObtenerHabitacion" message="tns:IHabitacionesService_ObtenerHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitacionesService/ObtenerHabitacionResponse" message="tns:IHabitacionesService_ObtenerHabitacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorHotelYNumeroHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitacionesService/ObtenerPorHotelYNumeroHabitacion" message="tns:IHabitacionesService_ObtenerPorHotelYNumeroHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitacionesService/ObtenerPorHotelYNumeroHabitacionResponse" message="tns:IHabitacionesService_ObtenerPorHotelYNumeroHabitacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitacionesService/CrearHabitacion" message="tns:IHabitacionesService_CrearHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitacionesService/CrearHabitacionResponse" message="tns:IHabitacionesService_CrearHabitacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHabitacionesService/CrearHabitacionRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IHabitacionesService_CrearHabitacion_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitacionesService/ModificarHabitacion" message="tns:IHabitacionesService_ModificarHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitacionesService/ModificarHabitacionResponse" message="tns:IHabitacionesService_ModificarHabitacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitacionesService/EliminarHabitacion" message="tns:IHabitacionesService_EliminarHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitacionesService/EliminarHabitacionResponse" message="tns:IHabitacionesService_EliminarHabitacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHabitaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IHabitacionesService/ListarHabitaciones" message="tns:IHabitacionesService_ListarHabitaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHabitacionesService/ListarHabitacionesResponse" message="tns:IHabitacionesService_ListarHabitaciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHabitacionesService" type="tns:IHabitacionesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerHabitacion">
      <soap:operation soapAction="http://tempuri.org/IHabitacionesService/ObtenerHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorHotelYNumeroHabitacion">
      <soap:operation soapAction="http://tempuri.org/IHabitacionesService/ObtenerPorHotelYNumeroHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearHabitacion">
      <soap:operation soapAction="http://tempuri.org/IHabitacionesService/CrearHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModificarHabitacion">
      <soap:operation soapAction="http://tempuri.org/IHabitacionesService/ModificarHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarHabitacion">
      <soap:operation soapAction="http://tempuri.org/IHabitacionesService/EliminarHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHabitaciones">
      <soap:operation soapAction="http://tempuri.org/IHabitacionesService/ListarHabitaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HabitacionesService">
    <wsdl:port name="BasicHttpBinding_IHabitacionesService" binding="tns:BasicHttpBinding_IHabitacionesService">
      <soap:address location="http://localhost:61476/HabitacionesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>