Room Service/RoomServiceTests/Connected Services/HabitacionesWS/HabitacionesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61476/HabitacionesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomService.Dominio" />
  <xs:element name="ObtenerHabitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="habitacionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHabitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="ObtenerHabitacionResult" nillable="true" type="q1:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorHotelYNumeroHabitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoHotel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroHabitacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorHotelYNumeroHabitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="ObtenerPorHotelYNumeroHabitacionResult" nillable="true" type="q2:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearHabitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="habitacion" nillable="true" type="q3:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearHabitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="CrearHabitacionResult" nillable="true" type="q4:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarHabitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="habitacion" nillable="true" type="q5:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarHabitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="ModificarHabitacionResult" nillable="true" type="q6:Habitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHabitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="habitacionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHabitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarHabitacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="ListarHabitacionesResult" nillable="true" type="q7:ArrayOfHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionesPorHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoHotel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHabitacionesPorHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RoomService.Dominio" minOccurs="0" name="ListarHabitacionesPorHotelResult" nillable="true" type="q8:ArrayOfHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>