Hotel Service/Hotel.All/Hotel.Business/Connected Services/RoomService/HabitacionesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoomService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Habitacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CantidadCamas" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoHabitacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoHotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigoimagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="HabitacionId" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Habitacion" nillable="true" type="tns:Habitacion" />
  <xs:complexType name="ArrayOfHabitacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Habitacion" nillable="true" type="tns:Habitacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHabitacion" nillable="true" type="tns:ArrayOfHabitacion" />
</xs:schema>