Booking Web Site/BookingMVC/Booking.Business/Connected Services/HotelService/HotelService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hotels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estrellas" type="xs:int" />
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotels" nillable="true" type="tns:Hotels" />
  <xs:complexType name="ArrayOfHotels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotels" nillable="true" type="tns:Hotels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotels" nillable="true" type="tns:ArrayOfHotels" />
</xs:schema>