Booking Web Site/BookingMVC/Booking.Business/Connected Services/BookService/ReservaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadPersonas" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoHabitacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoHotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DniMiembro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCheckIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCheckOut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroHabitacion" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioHotel" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReservaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
  <xs:complexType name="ArrayOfReserva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reserva" nillable="true" type="tns:Reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserva" nillable="true" type="tns:ArrayOfReserva" />
</xs:schema>