Hotel Service/Hotel.All/WcfHotelTest/Connected Services/HotelesWS/HotelService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53745/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" />
  <xs:element name="CrearHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" minOccurs="0" name="hotel" nillable="true" type="q1:Hotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" minOccurs="0" name="CrearHotelResult" nillable="true" type="q2:Hotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHotelPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHotelPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" minOccurs="0" name="ObtenerHotelPorCodigoResult" nillable="true" type="q3:Hotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" minOccurs="0" name="hotel" nillable="true" type="q4:Hotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" minOccurs="0" name="ModificarHotelResult" nillable="true" type="q5:Hotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarHotelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHoteles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHotelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" minOccurs="0" name="ListarHotelesResult" nillable="true" type="q6:ArrayOfHotels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>