Hotel Service/Hotel.All/WcfHotelTest/Connected Services/HotelesWS/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53745/HotelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53745/HotelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfHotel.Errores" />
      <xsd:import schemaLocation="http://localhost:53745/HotelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53745/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfHotel.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelService_CrearHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearHotel" />
  </wsdl:message>
  <wsdl:message name="IHotelService_CrearHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_CrearHotel_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfHotel.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IHotelService_ObtenerHotelPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHotelPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IHotelService_ObtenerHotelPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHotelPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_ModificarHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarHotel" />
  </wsdl:message>
  <wsdl:message name="IHotelService_ModificarHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_EliminarHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarHotel" />
  </wsdl:message>
  <wsdl:message name="IHotelService_EliminarHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_ListarHoteles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHoteles" />
  </wsdl:message>
  <wsdl:message name="IHotelService_ListarHoteles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHotelesResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelService">
    <wsdl:operation name="CrearHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/CrearHotel" message="tns:IHotelService_CrearHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/CrearHotelResponse" message="tns:IHotelService_CrearHotel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHotelService/CrearHotelRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IHotelService_CrearHotel_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHotelPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/ObtenerHotelPorCodigo" message="tns:IHotelService_ObtenerHotelPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/ObtenerHotelPorCodigoResponse" message="tns:IHotelService_ObtenerHotelPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/ModificarHotel" message="tns:IHotelService_ModificarHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/ModificarHotelResponse" message="tns:IHotelService_ModificarHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/EliminarHotel" message="tns:IHotelService_EliminarHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/EliminarHotelResponse" message="tns:IHotelService_EliminarHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHoteles">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/ListarHoteles" message="tns:IHotelService_ListarHoteles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/ListarHotelesResponse" message="tns:IHotelService_ListarHoteles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelService" type="tns:IHotelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearHotel">
      <soap:operation soapAction="http://tempuri.org/IHotelService/CrearHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHotelPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IHotelService/ObtenerHotelPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarHotel">
      <soap:operation soapAction="http://tempuri.org/IHotelService/ModificarHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarHotel">
      <soap:operation soapAction="http://tempuri.org/IHotelService/EliminarHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHoteles">
      <soap:operation soapAction="http://tempuri.org/IHotelService/ListarHoteles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_IHotelService" binding="tns:BasicHttpBinding_IHotelService">
      <soap:address location="http://localhost:53745/HotelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>